<div class="container">
    <div class="column">
        <!-- For para imprimir todas las reservas -->
        <mat-card class="mt-5 mb-5">
            <mat-card-header>
                <mat-card-title>ID reserva: 32</mat-card-title>
                <mat-card-subtitle>Fechas: 17/06/2020 - 06/07/2020</mat-card-subtitle>
            </mat-card-header>
            <div class="d-flex justify-content-center mt-4">
                <img class="rounded" mat-card-image src="../../assets/images/alojamientos/bungalow1.jpg" alt="Foto del bungalow">
                <!--<img mat-card-image src="../../assets/images/alojamientos/parcela1.jpg" alt="Foto de la parcela">-->
            </div>
            <mat-card-content class="mt-3">
                <div class="col-12 row">
                    <div class="col-6 ml-0">
                        <p>Tipo de alojamiento: bungalow</p>
                        <p>Número de alojamiento: 3</p>
                        <div>
                            <p>Características del alojamiento:</p>
                            <div class="text-center">
                                <!-- For para las caracteristicas del alojamiento -->
                                <p>caract1</p>
                                <p>caract2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mr-0">
                        <div>
                            <p>Servicios extras:</p>
                            <div class="text-center">
                                <!-- For para las caracteristicas del alojamiento -->
                                <p>caract1</p>
                                <p>caract2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>