<div class="container justify-content-center">
    <h4 class="text-center">Reservar</h4>
    <div class="col-12 mt-5">
        <mat-horizontal-stepper [linear]="true" #stepper>

            <mat-step [stepControl]="fechas">
                <form novalidate [formGroup]="fechas">
                    
                    <!-- Texto/Nombre del step -->
                    <ng-template matStepLabel>Calendario</ng-template>
            
                    <!-- Icono del step -->
                    <ng-template matStepperIcon="edit"><mat-icon>search</mat-icon></ng-template>
            
                    <!-- Contenido del step -->
                    <div class="row justify-content-around">
                        <!-- Calendario fecha de entrada -->
                        <div class="col-md-5 text-center">
                            <mat-form-field>
                                <mat-label>Fecha de entrada</mat-label>
                                <input matInput formControlName="fechaEntrada" [matDatepicker]="fechas1" required>
                                <mat-hint align="start"><strong>Con hora de entrada 12:00</strong></mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="fechas1"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #fechas1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        
                        <!-- Calendario fecha de salida -->
                        <div class="col-md-5 text-center pb-4">
                            <mat-form-field>
                                <mat-label>Fecha de salida</mat-label>
                                <input matInput formControlName="fechaSalida" [matDatepicker]="fechas2" required>
                                <mat-hint align="start"><strong>Con hora de salida máxima 11:59</strong></mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="fechas2"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #fechas2></mat-datepicker>
                            </mat-form-field>
                            <br>
                            <span style="color: red;" *ngIf="fechas.get('fechaSalida').hasError('fecha2Mayor')">La fecha de salida debe ser posterior a la de entrada.</span>
                            
                        </div>
            
                    </div>
                    <br>
                    <mat-icon class="icon float-left" style="cursor: pointer;" (click)="mostrarInfo1()">info</mat-icon><span *ngIf="info1 != false" class="float-left">La hora de entrada por defecto es a las 12:00 y la de salida a las 11:59. En casos especiales póngase en contacto con el camping.</span>
            
                    <!-- Botonera del step -->
                    <div>
                        <button class="float-right mt-3" mat-button matStepperNext (click)="guardarFechas()">Siguiente</button>
                    </div>
                </form>
            </mat-step>
            
            <!-- Escoger alojamiento disponible -->
            <mat-step [stepControl]="alojamiento">
                <form novalidate [formGroup]="alojamiento">
            
                    <!-- Texto/Nombre del step -->
                    <ng-template matStepLabel>Alojamiento disponible</ng-template>
            
                    <!-- Icono del step -->
                    <ng-template matStepperIcon="edit"><mat-icon>search</mat-icon></ng-template>
            
                    <!-- Contenido del step -->
                    <div class="row justify-content-between">
                        <!-- Lista para escoger tipo de alojamiento -->
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label>Tipo de alojamiento</mat-label>
                                <mat-select formControlName="tipo" required>
                                    <mat-option *ngFor="let tipo of tipos22" [value]="tipo" (click)="getCaracteristica1(tipo)">
                                      {{tipo}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                            <br>
                            <span style="color: red;" *ngIf="alojamiento.get('tipo').hasError('menos7')">En los meses de Julio y Agosto debes reservar mínimo 7 días en Bungalow.</span>
                        </div>
                        
                        <!-- Lista para escoger caracteristica 1 del alojamiento -->
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label >{{dato2}}</mat-label>
                                <mat-select formControlName="caracteristicaUnica1" required>
                                    <mat-option *ngFor="let dato of arrayCaract1; let i = index" [value]="dato" (click)="getCaracteristica2(dato)">
                                        {{dato[dato1]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
            
                        <!-- Lista para escoger caracteristica 2 del alojamiento -->
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label>{{dato4}}</mat-label>
                                <mat-select formControlName="caracteristicaUnica2" required>
                                    <mat-option *ngFor="let cara2 of arrayCaract2" [value]="cara2">
                                        {{cara2[dato3]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- Cantidad de personas +12 en la reserva -->
                        <div class="col-md-4">
                            <mat-form-field *ngIf="alojamiento.get('tipo').value == 'Parcela'">
                                <mat-label>Personas adultas +12</mat-label>
                                <input matInput formControlName="numPersonas" type="number" required>
                                <mat-hint align="start"><strong>Personas mayores de 12 años</strong></mat-hint>
                            </mat-form-field>                           
                        </div>

                        <!-- Cantidad de personas -12 en la reserva -->
                        <div class="col-md-4">
                            <mat-form-field *ngIf="alojamiento.get('tipo').value == 'Parcela'">
                                <mat-label>Personas menor de 12</mat-label>
                                <input matInput formControlName="numPersonasMenor" type="number" required>
                                <mat-hint align="start"><strong>Personas menores de 12 años</strong></mat-hint>
                            </mat-form-field>                           
                        </div>

                        <!-- Cantidad de personas +65 en la reserva -->
                        <div class="col-md-4">
                            <mat-form-field *ngIf="alojamiento.get('tipo').value == 'Parcela'">
                                <mat-label>Personas mayores +65</mat-label>
                                <input matInput formControlName="numPersonasMayor" type="number" required>
                                <mat-hint align="start"><strong>Personas mayores de 65 años</strong></mat-hint>
                            </mat-form-field>                           
                        </div>

                         <!-- {{ alojamiento.value | json }} -->
                    </div>
            
                    <small *ngIf="this.alojamiento.get('numPersonas').touched && this.alojamiento.get('numPersonas').hasError('personas')" style="color: red;">La cantidad de personas debe ser entre 1 y 12 por parcela.</small>

                    <!-- Botonera del step -->
                    <div>
                        <button class="mt-3" mat-button matStepperPrevious>Atrás</button>
                        <button class="float-right mt-3" mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
                    


            <!-- Servicios extras -->
            <mat-step [stepControl]="serviciosExtras" label="Servicios extras" >
                <form novalidate [formGroup]="serviciosExtras" class="mt-3">
                    <ng-template matStepperIcon="edit"><mat-icon>search</mat-icon></ng-template>

                    <!-- Controlar el tema de borrar-->
                    <div class="row">
                        <div class="col-md-6 float-left row" *ngFor="let servicio of servicios">
                            <mat-checkbox *ngIf="servicio['idServicio'] != 2" class="col-5 mt-3"  formControlName="servicio{{servicio['idServicio']}}" (change)='onChange(servicio)' [disabled]="servicio['idServicio'] == 1 && electricidad">{{servicio['nombre']}}</mat-checkbox>
                    
                            <mat-form-field class="mt-0" *ngIf="servicio['idServicio'] != 1">
                                <mat-label>Cantidad</mat-label>
                                    <input matInput formControlName="num{{servicio['idServicio']}}" type="number">
                            </mat-form-field>
    
                        </div>

                    </div>
                    
                    <mat-icon class="icon float-left" style="cursor: pointer;" (click)="mostrarInfo1()">info</mat-icon><span *ngIf="info1 != false" class="float-left">Como animales solo cuentan animales no aptos para llevar en jaulas, como perros, gatos, etc.</span>
                    <br>
                    <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button class="float-right mt-3" mat-button matStepperNext (click)="addServicios()">Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <!-- Desglose de precios y demás -->
            <mat-step>
                <ng-template matStepLabel >Confirmar reserva</ng-template>
                
                <p>AQUÍ VIENE EL DESGLOSE DE LA RESERVA.</p>

                <!-- Fechas -->
                <p>Fecha de entrada: {{fecha1}}</p>
                <p>Fecha de salida: {{fecha2}}</p>

                <!-- Información del alojamiento -->
                <p>Alojamiento: {{alojamiento.get('tipo').value}}</p>

                <p>Características del alojamiento:</p>
                <div *ngIf="alojamiento.get('tipo').value == 'Bungalow'; else parcela">
                    <p>Habitaciones: {{valor1}}</p>
                    <p>Máximo de personas permitidas: {{valor2}}</p>
                </div>

                <ng-template #parcela>
                    <p>Sombra: {{valor1}}</p>
                    <p>Dimensiones de la parcela: {{valor2}}</p>
                    <p>Número de personas: {{personas}}</p>
                </ng-template>
                
                <!-- Servicios extras -->
                <p *ngIf="personasExtras != null || personasExtrasMenor != null || personasExtrasMayor != null || extras[0]">Servicios extras:</p>
                <p *ngIf="personasExtras != null">Personas extras mayores de 12 años: {{personasExtras}}</p>
                <p *ngIf="personasExtrasMenor != null">Personas extras menores de 12 años: {{personasExtrasMenor}}</p>
                <p *ngIf="personasExtrasMayor != null">Personas extras mayores de 65 años: {{personasExtrasMayor}}</p>
                <div *ngFor="let extra of extras">
                    <p *ngIf="extra[1] == '1'; else extras">{{extra[0]}}</p>
                    <ng-template #extras>
                        {{extra[0]}}/es: {{extra[2]}}
                    </ng-template>
                </div>

                <!-- Botonera -->
                <div>
                    <button class="mt-3" mat-button matStepperPrevious>Atrás</button>
                    <button class="float-right mt-3" mat-button matStepperNext (click)="reserva()">Confirmar reserva</button>
                </div>
                </mat-step>


                <!-- Datos personales para la reserva -->
                <!-- Si se tiene una sesión iniciada se rellena automáticamente -->
                <!-- TENGO QUE PENSAR QUE HACER SINO TIENE SESION INICIADA, SE CREA USUARIO NUEVO O COMO????-->

                <mat-step  label="Datos personales" *ngIf="usuarioActual == null; else usuarioExiste">
                    <p>No has iniciado sesión. Para realizar una reserva necesitas estar logueado. Si tienes cuenta inicia sesión. Si aún no tiene regístrese.</p>
                    <p *ngIf="loginReserva == false" style="color: red;">Por favor reintente iniciar sesión, comprueba el correo electrónico y la contraseña.</p>

                    <!-- Cada uno de los botones llevará a un popup modal con un formulario logIn a uno con 2 campos, y sigIn a uno con 7 campos -->
                    <!-- Tienen el mismo fin, si el formulario es OK, confirma reserva, lleva a una página que indica que todo OK y el idReserva, si NO ok, indica un mensaje con el error -->
                    <button mat-button (click)="logIn()">Iniciar sesión</button>
                    <button mat-button (click)="signIn()" class="float-right">Registrarse</button>
                    
                </mat-step>



            <ng-template #usuarioExiste>

                <!-- SI YA EXISTE UNA SESIÓN DE USUARIO -->

                <!--<mat-step [stepControl]="usuario" label="Datos personales" >
                    <form novalidate [formGroup]="usuario">
                        <ng-template matStepperIcon="edit">
                            <mat-icon>search</mat-icon>
                        </ng-template>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <mat-form-field>
                                    <mat-label>Nombre y apellidos</mat-label>
                                    <input matInput formControlName="nombreCompleto" required [disabled]="usuarioActual != null">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 text-center">
                                <mat-form-field>
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput formControlName="telefono" required [disabled]="usuarioActual != null">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 text-center">
                                <mat-form-field>
                                    <mat-label>Correo electrónico</mat-label>
                                    <input matInput formControlName="email" required [disabled]="usuarioActual != null">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 text-center">
                                <mat-form-field>
                                    <mat-label>DNI</mat-label>
                                    <input matInput formControlName="dni" required [disabled]="usuarioActual != null">
                                </mat-form-field>
                            </div>
                        </div>

                    <div>
                      <button class="mt-3" mat-button matStepperPrevious>Atrás</button>
                      <button class="float-right mt-3" mat-button matStepperNext>Siguiente</button>
                    </div>
                  </form>
                </mat-step>-->
                
                <!--<button mat-button (click)="register()">Registrarse</button>-->
            </ng-template>
            


        </mat-horizontal-stepper>
    </div>
</div>