<!-- Títutlo web -->
<div class="col-12 mt-0 justify-content-center text-center mb-5">
    <h2>Camping Naúfrago</h2>
</div>

<!-- Columnas en los extremos (2 columnas) -->
<div class="container mt-5 col-xl-11 mb-5 rounded"  style="box-shadow: 5px 5px lightgrey;">
    <div class="row text-center">
        <!-- Columna izquierda -->
        <div class="col-md-6 col-lg-5">
            <b>Aquí va info acerca del camping, situación y alguna info importante más.</b><br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ad temporibus optio nulla est suscipit! Velit odit libero, 
            id aspernatur reiciendis exercitationem! Quia illo necessitatibus recusandae rem! Omnis iure necessitatibus corporis!
        </div>
        <!-- Columna derecha -->
        <div class="col-md-6 offset-md-0 col-lg-5 offset-lg-2">
            <b>Aquí algún video o google maps o algo así interesante, o directamente un google maps desde PHP (Ver cómo hacer eso).</b><br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Optio explicabo, adipisci obcaecati perferendis quis omnis consequuntur eum dolorem nulla magnam. 
            Ab consequuntur, obcaecati aliquid quidem cum recusandae odit consequatur numquam?
        </div>
    </div>
</div>

<!-- Separador horizontal -->
<div class="container col-12 justify-content-center mb-5">
    <mat-divider class="mt-4"></mat-divider>
</div>

<!-- 3 columnas con información de cómo llegar-->
<div class="container mt-4 rounded"  style="box-shadow: 5px 5px lightgrey;">
    <div class="row text-center">
        <!-- Columna izquierda -->
        <div class="col-lg-3 col-md-4">
            <b>Aquí va info de cómo llegar en coche.</b><br><br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Tempora blanditiis voluptatibus nam quia aliquam? Qui corrupti voluptatem obcaecati veritatis nostrum fugiat autem, 
            necessitatibus culpa dolorum nesciunt maxime ab, cupiditate tempora.
        </div>
        <!-- Columna central -->
        <div class="col-lg-4 col-md-4 offset-lg-1 offset-md-0">
            <b>Aquí va info de cómo llegar en tren o bus.</b><br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Deleniti modi, cumque earum soluta deserunt eius dolorum odio quibusdam distinctio possimus iure esse ratione id, 
            fugiat laborum in harum cupiditate aliquam.
        </div>
        <!-- Columna derecha -->
        <div class="col-lg-3 col-md-4 offset-lg-1 offset-md-0">
            <b>Aquí va info de cómo llegar en avion.</b><br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem placeat repellendus possimus voluptates reprehenderit rem dolores, 
            quisquam id illo molestias inventore dolorem culpa labore.
            Tenetur dolores est repellat incidunt. Aliquid.
        </div>
    </div>
</div>

<div class="col-6 mt-5 offset-3 text-center">
    <h4>Servicios</h4>
</div>

<!-- 2 columnas con información -->
<div class="container mt-2 rounded"  style="box-shadow: 5px 5px lightgrey;">
    <div class="row text-center">
        <!-- Columna izquierda -->
        <div class="col-lg-5 col-md-6">
            <div class="col-12 text-center mt-1 mb-2">
                <h5 style="display: inline;">Servicios del camping</h5>
            </div>
            <table class="col-12">
                <tr>
                    <th class="text-center">Servicio</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Horario</th>
                </tr>
                <tr *ngFor="let servicio2 of servicios2">
                    <td class="text-center">{{servicio2.texto}}</td>
                    <td class="text-center">{{servicio2.precio}}€</td>
                    <td class="text-center">{{servicio2.horario}}</td>
                </tr>
            </table>
        </div>
        <!-- Columna derecha -->
        <div class="col-lg-5 col-md-6 offset-lg-2">
            <div class="col-12 text-center mt-1 mb-2">
                <h5 style="display: inline;">Servicios de alojamientos</h5>
            </div>
            <table class="col-11">
                <tr>
                    <th class="text-center">Servicio</th>
                    <th class="text-center">Precio</th>
                </tr>
                <tr *ngFor="let servicio of servicios">
                    <td class="text-center">{{servicio.nombre}}</td>
                    <td class="text-center">{{servicio.precio}}€</td>
                </tr>
            </table>
        </div>
    </div>
</div>
