<div class="container d-flex justify-content-center">
    <div class="col-md-6 col-xl-4 mt-1">
        <p class="mt-5 text-center">Contacto</p>
        <form [formGroup]="contacto" (ngSubmit)="contactar()" novalidate class="py-3 px-4" style="border: 1px solid black;">
            <div class="mt-2">
                <div>
                    <div class="mt-2">
                        <label class="col-12 mb-0">Nombre y apellidos</label>
                        <input class="col-12" formControlName="nombreCompleto" type="text">
                        
                    </div>

                    <div class="mt-2">
                        <label class="col-12 mb-0">Teléfono</label>
                        <input class="col-12" formControlName="telefono" type="tel">

                    </div>

                    <div class="mt-2">
                        <label class="col-12 mb-0">Correo electrónico</label>
                        <input class="col-12" formControlName="email" type="email">

                    </div>
                </div>

                <div>
                    <div class="mt-2">
                        <label class="col-12 mb-0">Mensaje</label>
                        <textarea class="col-12" formControlName="mensaje" (keyup)="changed()" maxlength="255"></textarea>
                        <span>Quedan: {{caracteres}} carácteres.</span>

                    </div>
                </div>
            </div>
            <br>
            <button mat-raised-button color="primary" [routerLink]="'/inicio'">Volver</button>
            <button mat-raised-button color="primary" class="float-right">Contactar</button>
        </form>
    </div>
</div>