<div class="container d-flex justify-content-center">
    <div *ngIf="userdata == null && (registrado == null || registrado == 'false'); else user" class="col-md-6 col-xl-4 mt-1">
        <p class="mt-5 text-center">Registrarse</p>
        <form [formGroup]="registro" (ngSubmit)="registrar()" novalidate class="py-3 px-4" style="border: 1px solid black;">
            <div class="mt-2">
                <div>
                    <div>
                        <label class="col-12 mb-0">Nombre de usuario</label>
                        <input class="col-12" formControlName="alias" type="text">
                        <span style="color: red;" *ngIf="aliasVal == false">Revise su nombre de usuario.</span>
                        <span style="color: red;" *ngIf="errorAlias == true">Ya existe el nombre de usuario.</span>
                    </div>

                    <!--HAY QUE CONTROLAR LOS ERRORES DE CAMPOS AL ESCRIBIR EN ELLOS EMAIL CON PATRON **@**.** Y QUE LA CONTRASEÑA TENGA MINIMO DE 8 DIGITOS Y MAXIMO DE 20 POR EJEMPLO.-->
                    <div>
                        <label class="col-12 mb-0">DNI</label>
                        <input class="col-12" formControlName="dni" type="text">
                        <span style="color: red;" *ngIf="dniVal == false">Revise su DNI.</span>
                        <span style="color: red;" *ngIf="errorDni == true">Ya existe un usuario con ese DNI.</span>
                    </div>

                    <div class="mt-2">
                        <label class="col-12 mb-0">Nombre y apellidos</label>
                        <input class="col-12" formControlName="nombreCompleto" type="text">
                        <span style="color: red;" *ngIf="nombreVal == false">Revise su nombre y apellidos.</span>
                    </div>

                    <div class="mt-2">
                        <label class="col-12 mb-0">Teléfono</label>
                        <input class="col-12" formControlName="telefono" type="tel">
                        <span style="color: red;" *ngIf="telVal == false">Revise su teléfono móvil.</span>
                    </div>

                    <div class="mt-2">
                        <label class="col-12 mb-0">Correo electrónico</label>
                        <input class="col-12" formControlName="email" type="email">
                        <span style="color: red;" *ngIf="emailVal == false">Revise su correo electrónico.</span>
                        <span style="color: red;" *ngIf="errorEmail == true">Ya existe un usuario con ese correo electrónico.</span>
                    </div>
                </div>

                <div>
                    <div class="mt-2">
                        <label class="col-12 mb-0">Contraseña</label>
                        <input class="col-12" formControlName="password" type="password">
                        <span style="color: red;" *ngIf="passVal == false">Revise su contrasñe, debe contener al menos 1 dígito y 1 mayúscula.</span>
                    </div>
                </div>

                <div>
                    <div class="mt-2">
                        <label class="col-12 mb-0">Repita su contraseña</label>
                        <input class="col-12" formControlName="password2" type="password">
                        <span style="color: red;" *ngIf="pass2Val == false">Las contraseñas deben coincidir.</span>
                    </div>
                </div>
            </div>
            <br>
            <button mat-raised-button color="primary">Registrarse</button>
        </form>
        <span class="mt-2" style="display: table; margin: auto;">¿Ya tienes cuenta? Inicia sesión <b style="cursor: pointer;" [routerLink]="'/login'">aquí</b></span>
    </div>
    <ng-template #user>
        <div class="justify-content-center mt-5">
            <span class="text-center">Te registraste con éxito.</span>
            <br>
            <span class="text-center">Te damos la bienvenida</span>
            <mat-spinner class="mt-3" style="display: block; margin: auto;"></mat-spinner>
        </div>
    </ng-template>
</div>