<div style="width: 100%;">

  <!--Cabecera/menú-->
  <mat-toolbar color="primary" >

    <!--Título-->
    <span id="titulo" style="cursor: pointer;" [routerLink]="'/'">CampingNet</span>

    <!-- https://github.com/angular/flex-layout/wiki/Responsive-API -->

    <!--Elemento para mostrar menú, oculto a partir de 960px hacia arriba (Imagen)-->
    <div fxShow="true" fxHide.gt-xs="true" style="width: 100%; text-align: right;">
      <button mat-button (click)="sidenav.toggle()"><img src="assets/images/menu.png"></button>
    </div>

    <!--Menú en pantallas medias y grandes (tablets y ordenadores), oculto a partir de 959px hacia abajo-->
    <div fxShow="true" fxHide.lt-sm="true">
      <button mat-button (click)="sidenav.close()" [routerLink]="'/'" class="text-center">Inicio</button>  
      <button mat-button (click)="sidenav.close()" [routerLink]="'/reservas'">Reservar</button>
      <button mat-button (click)="sidenav.close()" [routerLink]="'/acerca'">Acerca</button>
      <button mat-button (click)="sidenav.close()" [routerLink]="'/contacto'">Contacto</button>
    </div>

    <!--Elemento span para pegar botones iniciar sesión y registrarse a la derecha (FlexLayout)-->
    <span style="flex: 1 1 auto;"></span>

    <div *ngIf="usuarioActual == null" fxShow="true" fxHide.lt-sm="true">
      <button mat-raised-button (click)="sidenav.close()" [routerLink]="'/login'" class="mr-1">Iniciar sesión</button>
      <button mat-raised-button (click)="sidenav.close()" [routerLink]="'/registrar'">Registrarse</button>
    </div>

    <div fxShow="true" fxHide.lt-sm="true">
      <div *ngIf="usuarioActual != null">
        Bienvenido {{usuarioActual.nombre}}
        <br>
        <small (click)="logOff()" style="cursor: pointer;">Cerrar sesión</small>
      </div>
    </div>
    
  </mat-toolbar>


  <!--Cuerpo-->
  <!--Menú a desplegar en pantallas pequeñas (móviles), se despliega en el cuerpo verticalment a la izquierda-->
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <span *ngIf="usuarioActual != null" class="px-2">Bienvenido {{usuarioActual.nombre}}</span>
        <button *ngIf="usuarioActual != null" mat-button (click)="logOff()" class="text-center">Cerrar sesión</button>
        <br *ngIf="usuarioActual != null">
        <button mat-button (click)="sidenav.toggle()" [routerLink]="'/'" class="text-center">Inicio</button>  
        <button mat-button (click)="sidenav.toggle()" [routerLink]="'/reservas'">Reservar</button>
        <button mat-button (click)="sidenav.toggle()" [routerLink]="'/acerca'">Acerca</button>
        <button mat-button (click)="sidenav.toggle()" [routerLink]="'/contacto'">Contacto</button>
        <br>
        <button *ngIf="usuarioActual == null" mat-button (click)="sidenav.toggle()" [routerLink]="'/login'">Iniciar sesión</button>
        <button *ngIf="usuarioActual == null" mat-button (click)="sidenav.toggle()" [routerLink]="'/registrar'">Registrarse</button>

      </div>
    </mat-sidenav>

    <!--Cuerpo donde cargan todas las páginas-->
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>

      <!--Footer-->
      <footer class="page-footer font-small mt-5" style="background-color: #673ab7;">
        <div class="container-fluid text-center">
          <div class="row">
            <!--Contenido-->
            <div class="col-md-6 col-lg-3 mt-md-0 text-center">
              <h5 class="text-uppercase text-white">Camping Naúfrago</h5>
              <span class="text-white">Complejo de lujo para todas las personas dispuestas a disfrutar y relajarse.</span>
            </div>
              
            <!--Dirección-->
            <div class="col-md-6 col-lg-3 mt-md-0 text-center">
              <h5 class="text-uppercase text-white">Dirección</h5>
              <span class="text-white">Paraje Los Escullos, S/N</span><br>
              <span class="text-white">Parque Natural Cabo de Gata</span><br>
              <span class="text-white">04118 Níjar, Almería</span>
            </div>

            <!--Columa Visite-->
            <div class="col-md-6 col-lg-3 mb-md-0 mb-3 text-center">
              <h5 class="text-uppercase text-white">Visite</h5>
              <ul class="list-unstyled text-white">
                <li>
                  <span [routerLink]="'/reservas'" style="cursor: pointer;">Reservar</span>
                </li>
                <li>
                  <span [routerLink]="'/link'" style="cursor: pointer;">Reservar</span>
                </li>
                <li>
                  <span [routerLink]="'/link'" style="cursor: pointer;">Reservar</span>
                </li>
                <li>
                  <span [routerLink]="'/link'" style="cursor: pointer;">Reservar</span>
                </li>
              </ul>
            </div>

            <!--Columna Síganos-->
            <div class="col-md-6 col-lg-3 mb-md-0 mb-3 text-center">
              <h5 class="text-uppercase text-white">Síganos</h5>
              <ul class="list-unstyled text-white">
                <li>
                  <a href="#!" style="text-decoration: none; color: inherit;">Instagram</a>
                </li>
                <li>
                  <a href="#!" style="text-decoration: none; color: inherit;">Twitter</a>
                </li>
                <li>
                  <a href="#!" style="text-decoration: none; color: inherit;">Youtube</a>
                </li>
                <li>
                  <a href="#!" style="text-decoration: none; color: inherit;">Pinterest</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Copyright-->
        <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
          <a href="https://github.com/tryn0"> Web realizada para CampingNet (Camping Naúfrago)</a>
        </div>
      </footer>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>