<div style="width: 100%;" *ngIf="dashboard != true; else admin">
  <!--Cabecera/menú-->
  <mat-toolbar color="primary" id="toolbar">
    <!--Título-->
    <span id="titulo" style="cursor: pointer;" [routerLink]="'/'">CampingNet</span>

    <!-- https://github.com/angular/flex-layout/wiki/Responsive-API -->

    <!--Elemento para mostrar menú, oculto a partir de 960px hacia arriba (Imagen)-->
    <div fxShow="true" fxHide.gt-xs="true" style="width: 100%; text-align: right;">
      <button mat-button (click)="sidenav.toggle()"><img src="assets/images/menu.png"></button>
    </div>
    <!--Menú en pantallas medias y grandes (tablets y ordenadores), oculto a partir de 959px hacia abajo-->
    <div fxShow="true" fxHide.lt-sm="true">
      <!-- 
        Coloco estos 2 botones como LINK para que refresque la página, 
        si lo pongo todo como routerLink pienso que cada vez le costaría más al ordenador llevar tanta carga, 
        así que he puesto en las 2 páginas más pesadas un link para que cuando entre en ellas se refresque 
      -->
      <a style="text-decoration: none; color: inherit;" href="/"><button class="botonInicio" mat-button (click)="sidenav.close()" ><mat-icon fxShow="true" fxHide.sm="true" class="icon">home</mat-icon>Inicio</button></a>
      <a style="text-decoration: none; color: inherit;" href="/reservas"><button class="botonInicio" mat-button (click)="sidenav.close()"><mat-icon fxShow="true" fxHide.sm="true" class="icon">store</mat-icon>Reservar</button></a>
      <button class="botonInicio" mat-button [matMenuTriggerFor]="info"><mat-icon fxShow="true" fxHide.sm="true" class="icon">info</mat-icon>Información</button>
      <mat-menu #info="matMenu" class="text-center">
        <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/alojamiento'">
          <div class="col-10 row">
            <div class="col-3" fxShow="true" fxHide.sm="true">
              <mat-icon class="align-middle">local_hotel</mat-icon>
            </div>
            <div class="col-7">
              <span class="align-middle">Alojamientos</span>
            </div>
          </div>
        </button><br>
        <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/acerca'">
          <div class="col-10 row">
            <div class="col-3" fxShow="true" fxHide.sm="true">
              <mat-icon class="align-middle">business</mat-icon>
            </div>
            <div class="col-7">
              <span class="align-middle">Acerca</span>
            </div>
          </div>
        </button><br>
        <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/contacto'">
          <div class="col-10 row">
            <div class="col-3" fxShow="true" fxHide.sm="true">
              <mat-icon class="align-middle">email</mat-icon>
            </div>
            <div class="col-7">
              <span class="align-middle">Contacto</span>
            </div>
          </div>
        </button>
      </mat-menu>
    </div>
    <!-- Botón para iniciar sesión, registrarse y mensaje bienvenida, link para cerrar sesión y link para ir al panel de control -->
    <div style="position: absolute; right: 30px;">
      <div *ngIf="usuarioActual == null" fxShow="true" fxHide.lt-sm="true">
        <button mat-raised-button (click)="sidenav.close()" [routerLink]="'/login'" class="mr-1">Iniciar sesión</button>
        <button mat-raised-button (click)="sidenav.close()" [routerLink]="'/registrar'">Registrarse</button>
      </div>
      <div fxShow="true" fxHide.lt-sm="true">
        <div *ngIf="usuarioActual != null && usuarioActual.rol != 'cliente'; else noTrabajador">
          <span id="bienvenida">Bienvenid@ {{usuarioActual.alias}}</span>          
          <br>
          <!-- Si el usuario con sesión iniciada no es un trabajador (trabajador o administrador) aparecerá la opción Ajustes, sino solo aparecerá Panel de control -->
          <div style="float: right;">&nbsp;
            <small id="ajustes" mat-button [matMenuTriggerFor]="ajustes">Ajustes<mat-icon fxShow="true" fxHide.sm="true" class="icon">arrow_drop_down</mat-icon></small>&nbsp;
            <mat-menu #ajustes="matMenu">
              <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/controlpanel'">
                <div class="col-10 row">
                  <div class="col-3" fxShow="true" fxHide.sm="true"><mat-icon class="align-middle">dashboard</mat-icon></div>
                  <div class="col-7"><span class="align-middle">Panel de control</span></div>
                </div>
              </button><br>
              <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/reserva-usuario'">
                <div class="col-10 row">
                  <div class="col-3" fxShow="true" fxHide.sm="true">
                    <mat-icon class="align-middle">book</mat-icon>
                  </div>
                  <div class="col-7">
                    <span class="align-middle">Ver reservas</span>
                  </div>
                </div>
              </button><br>
              <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/dashboard'" *ngIf="usuarioActual != null && usuarioActual.rol != 'cliente'">
                <div class="col-10 row">
                  <div class="col-3" fxShow="true" fxHide.sm="true">
                    <mat-icon class="align-middle">supervisor_account</mat-icon>
                  </div>
                  <div class="col-7">
                    <span class="align-middle">Administración</span>
                  </div>
                </div>
              </button><br> <!-- Dashboard TRABAJADOR-->
              <button class="botonInicio w-100" mat-button (click)="logOff()">
                <div class="col-10 row">
                  <div class="col-3" fxShow="true" fxHide.sm="true">
                    <mat-icon class="align-middle">input</mat-icon> 
                  </div>
                  <div class="col-7">
                    <span class="align-middle">Cerrar sesión</span>
                  </div>
                </div>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <!-- Si existe una sesión iniciada y es cliente -->
  <ng-template #noTrabajador>
    <div *ngIf="usuarioActual != null && usuarioActual.rol == 'cliente'">
      <span id="bienvenida2">Bienvenid@ {{usuarioActual.alias}}</span>
      <br>
      <div style="float: right;">&nbsp;
        <small id="ajustes" mat-button [matMenuTriggerFor]="ajustes">Ajustes<mat-icon fxShow="true" fxHide.sm="true" class="icon">arrow_drop_down</mat-icon></small>&nbsp;
        <mat-menu #ajustes="matMenu" class="text-center">
          <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/controlpanel'">
            <div class="col-10 row">
              <div class="col-3" fxShow="true" fxHide.sm="true"><mat-icon class="align-middle">dashboard</mat-icon></div>
              <div class="col-7"><span class="align-middle">Panel de control</span></div>
            </div>
          </button><br>
          <button class="botonInicio w-100" mat-button (click)="sidenav.close()" [routerLink]="'/reserva-usuario'">
            <div class="col-10 row">
              <div class="col-3" fxShow="true" fxHide.sm="true">
                <mat-icon class="align-middle">book</mat-icon>
              </div>
              <div class="col-7">
                <span class="align-middle">Ver reservas</span>
              </div>
            </div>
          </button><br>
          <button class="botonInicio w-100" mat-button (click)="logOff()">
            <div class="col-10 row">
              <div class="col-3" fxShow="true" fxHide.sm="true">
                <mat-icon class="align-middle">input</mat-icon> 
              </div>
              <div class="col-7">
                <span class="align-middle">Cerrar sesión</span>
              </div>
            </div>
          </button>
        </mat-menu>
      </div>
    </div>
  </ng-template>
  <!--Cuerpo-->
  <!--Menú a desplegar en pantallas pequeñas (móviles), se despliega en el cuerpo verticalment a la izquierda-->
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <div *ngIf="usuarioActual != null" class="text-center">
          <p class="px-2 mt-0 mb-0">Bienvenido {{usuarioActual.alias}}</p>
          <button mat-button (click)="logOff()">Cerrar sesión</button><br>
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/controlpanel'">Panel de control</button><br>
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/reserva-usuario'">Ver reservas</button><br>
          <button *ngIf="usuarioActual.rol != 'cliente'" mat-button (click)="sidenav.toggle()" [routerLink]="'/dashboard'">Administración</button>
          <br><br>
        </div>
        <div class="text-center">
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/'" class="text-center">Inicio</button>
          <br>
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/reservas'">Reservar</button>
          <br>
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/alojamiento'">Alojamientos</button>
          <br>
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/acerca'">Acerca</button>
          <br>
          <button mat-button (click)="sidenav.toggle()" [routerLink]="'/contacto'">Contacto</button>
          <br><br>
          <button *ngIf="usuarioActual == null" mat-button (click)="sidenav.toggle()" [routerLink]="'/login'">Iniciar sesión</button>
          <br>
          <button *ngIf="usuarioActual == null" mat-button (click)="sidenav.toggle()" [routerLink]="'/registrar'">Registrarse</button>
        </div>
      </div>
    </mat-sidenav>
    <!--Cuerpo donde cargan todas las páginas-->
    <mat-sidenav-content fxFlexFill id="cuerpo">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--Footer-->
  <footer id="footer" class="page-footer font-small" style="background-color: #673ab7;">
    <div class="container-fluid text-center">
      <div class="row">
        <!--Contenido-->
        <div class="col-md-6 col-lg-3 mt-md-0 text-center">
          <h5 class="text-uppercase text-white">Camping Naúfrago</h5>
          <span class="text-white">Complejo de lujo para todas las personas dispuestas a disfrutar y relajarse.</span>
        </div>
        <!--Dirección-->
        <div class="col-md-6 col-lg-3 mt-md-0 text-center">
          <h5 class="text-uppercase text-white">Dirección</h5>
          <span class="text-white">Paraje Los Escullos, S/N</span><br>
          <span class="text-white">Parque Natural Cabo de Gata</span><br>
          <span class="text-white">04118 Níjar, Almería</span>
        </div>
        <!--Columa Visite-->
        <div class="col-md-6 col-lg-3 mb-md-0 mb-3 text-center">
          <h5 class="text-uppercase text-white">Visite</h5>
          <ul class="list-unstyled text-white">
            <li>
              <span [routerLink]="'/reservas'" style="cursor: pointer;">Reservar</span>
            </li>
            <li>
              <span [routerLink]="'/link'" style="cursor: pointer;">Reservar</span>
            </li>
            <li>
              <span [routerLink]="'/link'" style="cursor: pointer;">Reservar</span>
            </li>
            <li>
              <span [routerLink]="'/link'" style="cursor: pointer;">Reservar</span>
            </li>
          </ul>
        </div>
        <!--Columna Síganos-->
        <div class="col-md-6 col-lg-3 mb-md-0 mb-3 text-center">
          <h5 class="text-uppercase text-white">Síganos</h5>
          <ul class="list-unstyled text-white">
            <li>
              <a href="#!" style="text-decoration: none; color: inherit;">Instagram</a>
            </li>
            <li>
              <a href="#!" style="text-decoration: none; color: inherit;">Twitter</a>
            </li>
            <li>
              <a href="#!" style="text-decoration: none; color: inherit;">Youtube</a>
            </li>
            <li>
              <a href="#!" style="text-decoration: none; color: inherit;">Pinterest</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--Copyright-->
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
      <a id="linkG" target="_blank" href="https://github.com/tryn0"> Web realizada para CampingNet (Camping Naúfrago)</a>
      <!--Solo DEV-->
      Tu IP: {{this.ip}}
      <div>Esta web es visible en
        <br>
        <mat-icon class="bottom">smartphone</mat-icon> &nbsp; <mat-icon class="bottom">tablet</mat-icon> &nbsp; <mat-icon class="bottom">laptop</mat-icon> &nbsp; <mat-icon class="bottom">desktop_windows</mat-icon></div>
    </div>
  </footer>
</div>

<ng-template #admin>
  <router-outlet></router-outlet>
</ng-template>