html,body{
    margin: 0;
}

#bienvenida{
    float: right;
}
#bienvenida2{
    float: right;
}
#ajustes{
    cursor: pointer;
}
.botonInicio{
    padding: 7px 5px;
}
.icon {
    display: inline-block;
    height: 30px;
    margin-right: 14px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

.cp {
    display: inline-block;
    height: 30px;
    margin-right: -6px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

.logout {
    display: inline-block;
    height: 30px;
    margin-right: -6px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

.bottom{
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}

#linkG{
    color: white;
}


/*Tamaño del título y del texto del menú de la cabecera en pantallas de ancho mayor o igual a 2000px*/
@media only screen and (min-width: 2000px) {
    #titulo{
        font-size: 1.1vw;
    }
    button{
        font-size: 0.8vw;
    }
}