html,body{
    margin: 0;
}
.botonInicio{
    padding: 7px 5px;
}
.icon {
    display: inline-block;
    height: 30px;
    margin-right: 14px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}
.cp {
    display: inline-block;
    height: 30px;
    margin-right: -6px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}
.logout {
    display: inline-block;
    height: 30px;
    margin-right: -6px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}
.bottom{
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}
.puntero{
    cursor: pointer;
}
.importante{
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.icon {
    display: inline-block;
    height: 30px;
    margin-right: 14px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 1%;
  }