<div *ngIf="trabajador == true; else noTrabajador" class="main">
    <!-- Menú superior horizontal -->
    <mat-toolbar color="accent">
      <span (click)="togle()" class="puntero">{{menuMensaje}}</span>
      <span style="flex: 1 1 auto;"></span>
      <div style="float: right;">&nbsp;
        <small class="puntero" id="ajustes" mat-button [matMenuTriggerFor]="ajustes">Ajustes<mat-icon fxShow="true" fxHide.sm="true" class="icon">arrow_drop_down</mat-icon></small>&nbsp;
        <mat-menu #ajustes="matMenu" class="text-center">
          <button class="botonInicio" mat-button [routerLink]="'/controlpanel'"><mat-icon fxShow="true" fxHide.sm="true" class="icon">dashboard</mat-icon>Panel de control</button><br>
          <button class="botonInicio" mat-button [routerLink]="'/dashboard'" *ngIf="usuarioActual != null && usuarioActual.rol != 'cliente'" ><mat-icon fxShow="true" fxHide.sm="true" class="icon">supervisor_account</mat-icon>Administración</button><br> <!-- Dashboard TRABAJADOR-->
          <button class="botonInicio" mat-button (click)="logOff()"><mat-icon fxShow="true" fxHide.sm="true" class="icon">input</mat-icon>Cerrar sesión</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  
    <!-- Contenedor del menú y del cuerpo -->
    <mat-drawer-container style="height: 100vh;" #drawerContainer autosize>  
      <!-- Menu lateral -->
      <mat-drawer *ngIf="pantalla; else pantallaPeque" style="width: 100vw;" #menu id="menu-lateral" mode="over">
        <div class="container">
            <div class="column">
                <p class="text-center menu-titulo">Menú de la administración</p>
                <p class="text-center menu-titulo">Bienvenido/a {{usuarioActual?.alias}}</p>
                <br>
                <p [routerLink]="'/dashboard'" class="puntero">Inicio</p>
                <hr>
                <p [routerLink]="'/dashboard/reservas'" class="puntero">Ver reserva/s</p>
                <hr>
                <p [routerLink]="'/dashboard/resenias'" class="puntero">Ver reseñas</p>
                <hr>
                <p [routerLink]="'/dashboard/revisar-resenias'" class="puntero">Reseñas sin aprobar</p>
                <hr>
                <p [routerLink]="'/dashboard/usuarios'" class="puntero">Ver usuarios</p>
                <hr>
                <p [routerLink]="'/dashboard/servicios'" class="puntero">Ver servicios extras</p>
                <hr>
                <p [routerLink]="'/inicio'" class="puntero">Volver a la web</p>
                <hr>
                <div *ngIf="usuarioActual?.rol == 'admin'">
                   <br>
                    <p [routerLink]="'/dashboard/admin'" class="puntero">Ajustes</p> 
                </div>
            </div>
        </div>
      </mat-drawer>


      <!-- Menú lateral pantalla pequeña -->
      <ng-template #pantallaPeque>
        <mat-drawer *ngIf="!pantalla" style="width: 25vw;" #menu id="menu-lateral" mode="side" opened>
            <div class="container">
                <div class="column">
                    <p class="text-center">Menú de la administración</p>
                    <p class="text-center">Bienvenido/a {{usuarioActual?.alias}}</p>
                    <br>
                    <p [routerLink]="'/dashboard'" class="puntero">Inicio</p>
                    <hr>
                    <p [routerLink]="'/dashboard/reservas'" class="puntero">Ver reserva/s</p>
                    <hr>
                    <p [routerLink]="'/dashboard/resenias'" class="puntero">Ver reseñas</p>
                    <hr>
                    <p [routerLink]="'/dashboard/revisar-resenias'" class="puntero">Reseñas sin aprobar</p>
                    <hr>
                    <p [routerLink]="'/dashboard/usuarios'" class="puntero">Ver usuarios</p>
                    <hr>
                    <p [routerLink]="'/dashboard/servicios'" class="puntero">Ver servicios extras</p>
                    <hr>
                    <p [routerLink]="'/inicio'" class="puntero">Volver a la web</p>
                    <hr>
                    <div *ngIf="usuarioActual?.rol == 'admin'">
                       <br>
                        <p [routerLink]="'/dashboard/admin'" class="puntero text-success">Ajustes</p> 
                    </div>
                </div>
            </div>
          </mat-drawer>
      </ng-template>
  
  
      <!-- Cuerpo de la web -->
      <mat-drawer-content>
        <!-- Si la URL es /dashboard -->
        <div class="container col-10" *ngIf="dashboardInicio == true">
            <div class="column">
                <div>
                    <h3 class="text-center">
                        Administración
                    </h3>
                    <p class="text-center">Has entrado como <span *ngIf="usuarioActual?.rol == 'admin';else noAdmin" class="text-success">{{usuarioActual?.rol}}</span></p>
                    <ng-template #noAdmin><span class="text-primary">{{usuarioActual?.rol}}</span></ng-template>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="row d-flex justify-content-between text-center">
                        <div class="col-12 col-sm-3 mt-3 mb-3 rounded border border-dark" >
                            <p class="my-auto py-5">
                                Hoy hay {{reservasHoy}} reserva/s pendientes de entrar al camping
                            </p>
                            <p class="puntero" [routerLink]="'/dashboard/entradas-hoy'">Ver</p>
                        </div>
                        <div class="col-12 col-sm-3 mt-3 mb-3 rounded border border-dark" >
                            <p class="my-auto py-5">
                                Hoy hay {{reservasHoySalidas}} reserva/s pendientes de salir al camping
                            </p>
                            <p class="puntero" [routerLink]="'/dashboard/salidas-hoy'">Ver</p>
                        </div>
                        <div class="col-12 col-sm-3 mt-3 mb-3 rounded border border-dark" >
                            <p class="my-auto py-5">
                                {{revisarResenias}} reseña/s por revisar
                            </p>
                            <p class="puntero" [routerLink]="'/dashboard/revisar-resenias'">Ver</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Tabla con las últimas 10 reservas -->
            <div class="column justify-content-center">
                <table class="table mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">ID Reserva</th>
                            <th class="text-center" scope="col">Fecha de entrada</th>
                            <th class="text-center" scope="col">ID Usuario</th>
                            <th class="text-center" scope="col">Nº Personas</th>
                        </tr>
                        <tr *ngFor="let reservas of reservasList; index as i">
                            <th scope="row" class="text-center">{{i+1}}</th>
                            <td class="text-center">{{reservas.idReserva}}</td>
                            <td class="text-center">{{reservas.fecha_entrada}}</td>
                            <td class="text-center">{{reservas.idUsuario}}</td>
                            <td class="text-center">{{reservas.num_personas}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <p [routerLink]="'/'" class="puntero">Volver</p>
        </div>

        <!-- Si la URL es /dashboard/revisar-resenias -->
        <div *ngIf="dashboardRevisarResenias == true">
            <div class="container">
                <div class="column justify-content-center mt-4">
                    <h4 class="text-center">Listado de reseñas por aprobar</h4>
                    <br>
                    <div *ngIf="listadoReseniasAlgo; else noReseniaAprobar">
                        <h6 class="text-center">Ninguna reseña por aprobar.</h6>
                    </div>
                    <ng-template #noReseniaAprobar>
                        <div *ngFor="let resenia of listadoResenias | paginate: { id: 'pagination', itemsPerPage: 10, currentPage: p, totalItems: listadoResenias.length }">
                            <mat-card class="mb-4">
                                <mat-card-header class="justify-content-end">
                                    <!-- FOTO del card <div mat-card-avatar></div> -->
                                    <div class="col-10" *ngIf="!pantalla; else pantallaResenias">
                                        <mat-card-title>ID de la reseña: {{resenia.idResenia}} </mat-card-title>
                                        <mat-card-subtitle class="float-lg-left">
                                            <span>Nombre de usuario: {{resenia.alias_usuario}}</span>
                                        </mat-card-subtitle>
                                        <mat-card-subtitle class="float-left float-lg-right">
                                            <span class="float-right">Alojamiento: {{resenia.idAlojamiento}}</span>
                                        </mat-card-subtitle>
                                    </div>
                                    <ng-template #pantallaResenias>
                                        <div class="col-12">
                                            <mat-card-title>ID de la reseña: {{resenia.idResenia}} </mat-card-title>
                                            <mat-card-subtitle class="float-lg-left">
                                                <span>Nombre de usuario: {{resenia.alias_usuario}}</span>
                                            </mat-card-subtitle>
        
                                            <mat-card-subtitle class="float-left float-lg-right">
                                                <span class="float-right">Alojamiento: {{resenia.idAlojamiento}}</span>
                                            </mat-card-subtitle>
                                        </div>
                                    </ng-template>
                                    <div class="column col-2" *ngIf="!pantalla">
                                        <button mat-raised-button (click)="aprobado(resenia.idResenia)" color="primary" class="col-12 float-right px-2">Aprobar</button>
                                        <br>
                                        <br>
                                        <button mat-raised-button (click)="denegado(resenia.idResenia)" color="primary" class="col-12 float-right px-2">Denegar</button>
                                    </div>
                                </mat-card-header>
                                    <div *ngIf="pantalla" class="column col-12">
                                        <button mat-raised-button (click)="aprobado(resenia.idResenia)" color="primary" class="col-12 float-right px-2">Aprobar</button>
                                        <br>
                                        <br>
                                        <button mat-raised-button (click)="denegado(resenia.idResenia)" color="primary" class="col-12 float-right px-2">Denegar</button>
                                        <br><br>
                                    </div>
                                <mat-card-content>
                                    <p>Puntuación: {{resenia.puntuacion}}</p>
                                    <p class="mb-0">Comentario:</p>
                                    <p class="mt-0">{{resenia.comentario}}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <!-- Paginación de las reseñas por revisar -->
                        <pagination-controls [id]="'pagination'" (pageChange)="onChangePage($event, listadoResenias)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- Si la URL es /dashboard/salidas-hoy -->
        <div *ngIf="dashboardSalidasHoy == true">
            <div class="container">
                <div class="column justify-content-center mt-4">
                    <h4 class="text-center">Listado de las salidas de hoy</h4>
                    <br>
                    <div *ngIf="listadoSalidasHoy.length == 0 else noSalidasHoy">
                        <h6 class="text-center">Ninguna salida hoy</h6>
                    </div>
                    <ng-template #noSalidasHoy>
                        <div *ngFor="let salida of listadoSalidasHoy | paginate: { id: 'pagination', itemsPerPage: 10, currentPage: p, totalItems: listadoSalidasHoy.length }">
                            <mat-card class="mb-4">
                                <mat-card-header class="justify-content-end">
                                    <!-- FOTO del card <div mat-card-avatar></div> -->
                                    <div class="col-12 text-center text-md-left">
                                        <mat-card-title>ID de la reserva: {{salida.idReserva}} </mat-card-title>
                                        <mat-card-subtitle class="float-md-left text-md-left">
                                            <span class="importante">Nombre del usuario: {{salida.nombre_usuario}}</span>
                                            <br>
                                            <span>Alias del usuario: {{salida.alias_usuario}}</span>
                                            <br>
                                            <span class="importante">Correo electrónico: {{salida.email}}</span>
                                            <br>
                                            <span class="importante">Número de personas: {{salida.num_personas}}</span>
                                            <br>
                                            <span>Fecha de entrada: {{salida.fecha_entrada}}</span>
                                            <br>
                                            <span>Hora de entrada: {{salida.hora_entrada}}</span>
                                            <br>
                                            <span class="importante">Tipo de alojamiento: {{salida.tipo_alojamiento}}</span>
                                            <br>
                                            <span *ngIf="salida.tipo_alojamiento == 'Bungalow'">Habitaciones: {{salida.habitaciones}}</span><span *ngIf="salida.tipo_alojamiento == 'Parcela'">Dimensiones: {{salida.dimension}}</span>
                                        </mat-card-subtitle>
                                        <mat-card-subtitle class="float-md-right text-md-right">
                                            <span class="importante">DNI Cliente: {{salida.nif}}</span>
                                            <br>
                                            <span class="importante">Teléfono de contacto: {{salida.telefono}}</span>
                                            <br>
                                            <span class="importante">ID del alojamiento: {{salida.idAlojamiento}}</span>
                                            <br>
                                            <span class="importante">Fecha de salida: {{salida.fecha_salida}}</span>
                                            <br>
                                            <span class="importante">Hora de salida: {{salida.hora_salida}}</span>
                                            <br>
                                            <span class="importante">Número del alojamiento: {{salida.numeroAlojamiento}}</span>
                                            <br>
                                            <span *ngIf="salida.tipo_alojamiento == 'Bungalow'">Máximo de personas: {{salida.maximo_personas}}</span><span  class="float-left float-md-right" *ngIf="salida.tipo_alojamiento == 'Parcela'">Sombra: {{salida.sombra}}</span>
                                            <br>
                                            <span class="importante">Multiplicativo: {{salida.multiplicativo}}</span>
                                        </mat-card-subtitle>
                                    </div>
                                </mat-card-header>
                                <mat-card-content *ngIf="serviciosExtras.idReserva == salida.idReserva">
                                    <div class="row justify-content-center">
                                        <p class="importante">Listado de servicios extras</p>
                                        <mat-card-subtitle class="text-center justify-content-center col-12">
                                            <div #scrollMe style="overflow-y: scroll; height: xyz;">
                                                <div *ngFor="let extra of serviciosExtras">{{extra.nombre}}</div>
                                            </div>
                                        </mat-card-subtitle>
                                    </div>
                                </mat-card-content>
                                <p class="text-center importante">Total a pagar: {{salida.total_pagar}}€</p>
                            </mat-card>
                        </div>
                        <!-- Paginación de las reseñas por revisar -->
                        <pagination-controls [id]="'pagination'" (pageChange)="onChangePage($event, listadoSalidasHoy)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- Si la URL es /dashboard/entradas-hoy -->
        <div *ngIf="dashboardEntradasHoy == true">
            <div class="container">
                <div class="column justify-content-center mt-4">
                    <h4 class="text-center">Listado de las entradas de hoy</h4>
                    <br>
                    <div *ngIf="listadoEntradasHoy.length == 0 else noEntradasHoy">
                        <h6 class="text-center">Ninguna entrada hoy</h6>
                    </div>
                    <ng-template #noEntradasHoy>
                        <div *ngFor="let entrada of listadoEntradasHoy | paginate: { id: 'pagination', itemsPerPage: 10, currentPage: p, totalItems: listadoEntradasHoy.length }">
                            <mat-card class="mb-4">
                                <mat-card-header class="justify-content-end">
                                    <!-- FOTO del card <div mat-card-avatar></div> -->
                                    <div class="col-12 text-center text-md-left">
                                        <mat-card-title>ID de la reserva: {{entrada.idReserva}} </mat-card-title>
                                        <mat-card-subtitle class="float-md-left text-md-left">
                                            <span class="importante">Nombre del usuario: {{entrada.nombre_usuario}}</span>
                                            <br>
                                            <span>Alias del usuario: {{entrada.alias_usuario}}</span>
                                            <br>
                                            <span class="importante">Correo electrónico: {{entrada.email}}</span>
                                            <br>
                                            <span class="importante">Número de personas: {{entrada.num_personas}}</span>
                                            <br>
                                            <span class="importante">Fecha de entrada: {{entrada.fecha_entrada}}</span>
                                            <br>
                                            <span class="importante">Hora de entrada: {{entrada.hora_entrada}}</span>
                                            <br>
                                            <span class="importante">Tipo de alojamiento: {{entrada.tipo_alojamiento}}</span>
                                            <br>
                                            <span *ngIf="entrada.tipo_alojamiento == 'Bungalow'">Habitaciones: {{entrada.habitaciones}}</span><span *ngIf="entrada.tipo_alojamiento == 'Parcela'">Dimensiones: {{entrada.dimension}}</span>
                                        </mat-card-subtitle>
                                        <mat-card-subtitle class="float-md-right text-md-right">
                                            <span class="importante">DNI Cliente: {{entrada.nif}}</span>
                                            <br>
                                            <span class="importante">Teléfono de contacto: {{entrada.telefono}}</span>
                                            <br>
                                            <span class="importante">ID del alojamiento: {{entrada.idAlojamiento}}</span>
                                            <br>
                                            <span>Fecha de salida: {{entrada.fecha_salida}}</span>
                                            <br>
                                            <span>Hora de salida: {{entrada.hora_salida}}</span>
                                            <br>
                                            <span class="importante">Número del alojamiento: {{entrada.numeroAlojamiento}}</span>
                                            <br>
                                            <span *ngIf="entrada.tipo_alojamiento == 'Bungalow'">Máximo de personas: {{entrada.maximo_personas}}</span><span  class="float-left float-md-right" *ngIf="entrada.tipo_alojamiento == 'Parcela'">Sombra: {{entrada.sombra}}</span>
                                            <br>
                                            <span class="importante">Multiplicativo: {{entrada.multiplicativo}}</span>
                                        </mat-card-subtitle>
                                    </div>
                                </mat-card-header>
                                <mat-card-content *ngIf="serviciosExtras.idReserva == entrada.idReserva && serviciosExtras[0] != null">
                                    <div class="row justify-content-center">
                                        <p class="importante">Listado de servicios extras</p>
                                        <mat-card-subtitle class="text-center justify-content-center col-12">
                                            <div #scrollMe style="overflow-y: scroll; height: xyz;">
                                                <div *ngFor="let extra of serviciosExtras">{{extra.nombre}}</div>
                                            </div>
                                        </mat-card-subtitle>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <!-- Paginación de las reseñas por revisar -->
                        <pagination-controls [id]="'pagination'" (pageChange)="onChangePage($event, listadoEntradasHoy)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- Si la URL es /dashboard/reservas -->
        <div *ngIf="dashboardReservas == true">
            <div class="container" *ngIf="buscado == false; else reservaBuscada">
                <div class="column justify-content-center mt-4">
                    <h4 class="text-center mb-4">Buscar reservas</h4>
                    <div class="d-flex justify-content-center">
                        <form [formGroup]="buscarReserva" (keyup.enter)="buscarReservas()" novalidate class="col-12 col-lg-6 mb-1 mt-1 border border-dark border rounded">
                            <mat-form-field class="d-flex justify-content-center mt-3">
                                <mat-label>Fecha de entrada</mat-label>
                                <input matInput formControlName="fechaEntrada" [matDatepicker]="fechas1">
                                <mat-hint align="start"><strong>Con hora de entrada 12:00</strong></mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="fechas1"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #fechas1></mat-datepicker>
                            </mat-form-field><br>
                            <mat-form-field class="mt-3 d-flex justify-content-center">
                                <mat-label>ID de la reserva</mat-label>
                                    <div>
                                        <input matInput min="0" max="12" formControlName="idReserva" type="number">
                                    </div>
                            </mat-form-field><br>
                            <mat-form-field class="mt-3 d-flex justify-content-center">
                                <mat-label>DNI del usuario</mat-label>
                                    <div>
                                        <input matInput formControlName="dniUsuario" type="text">
                                    </div>
                            </mat-form-field>
                            <p><mat-icon class="icon">info</mat-icon>Escriba los campos a buscar</p>
                        </form>
                    </div>
                    <div class="d-flex justify-content-center mt-2 pb-2">
                        <button mat-raised-button color="primary" (click)="buscarReservas()">Buscar</button>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="text-center">Últimas 10 reservas</h4>
                    <table class="table mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">ID Reserva</th>
                                <th class="text-center" scope="col">Fecha de entrada</th>
                                <th class="text-center" scope="col">ID Usuario</th>
                                <th class="text-center" scope="col">Nº Personas</th>
                            </tr>
                            <tr *ngFor="let reservas of reservasList; index as i">
                                <th scope="row" class="text-center">{{i+1}}</th>
                                <td class="text-center">{{reservas.idReserva}}</td>
                                <td class="text-center">{{reservas.fecha_entrada}}</td>
                                <td class="text-center">{{reservas.idUsuario}}</td>
                                <td class="text-center">{{reservas.num_personas}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <ng-template #reservaBuscada>
                <div *ngIf="listadoBuscado.length == 0 else noBuscadoENcontrado">
                    <h4 class="text-center">Ninguna reserva encontrada</h4>
                    <p class="puntero text-center" (click)="atrasBusqueda()">Volver</p>
                </div>
                <ng-template #noBuscadoENcontrado>
                    <div class="container">
                        <h4 class="text-center mb-4">Listado de reservas encontradas</h4>
                        <div *ngFor="let buscado of listadoBuscado | paginate: { id: 'pagination', itemsPerPage: 1, currentPage: p, totalItems: listadoBuscado.length }">
                            <mat-card class="mb-4">
                                <mat-card-header class="justify-content-end">
                                    <!-- FOTO del card <div mat-card-avatar></div> -->
                                    <div class="col-12 text-center text-md-left">
                                        <mat-card-title>ID de la reserva: {{buscado.idReserva}} </mat-card-title>
                                        <mat-card-subtitle class="float-md-left text-md-left">
                                            <span class="importante">Nombre del usuario: {{buscado.nombre_usuario}}</span>
                                            <br>
                                            <span>Alias del usuario: {{buscado.alias_usuario}}</span>
                                            <br>
                                            <span class="importante">Correo electrónico: {{buscado.email}}</span>
                                            <br>
                                            <span class="importante">Número de personas: {{buscado.num_personas}}</span>
                                            <br>
                                            <span class="importante">Fecha de buscado: {{buscado.fecha_entrada}}</span>
                                            <br>
                                            <span class="importante">Hora de entrada: {{buscado.hora_entrada}}</span>
                                            <br>
                                            <span class="importante">Tipo de alojamiento: {{buscado.tipo_alojamiento}}</span>
                                            <br>
                                            <span *ngIf="buscado.tipo_alojamiento == 'Bungalow'">Habitaciones: {{buscado.habitaciones}}</span><span *ngIf="buscado.tipo_alojamiento == 'Parcela'">Dimensiones: {{buscado.dimension}}</span>
                                        </mat-card-subtitle>
                                        <mat-card-subtitle class="float-md-right text-md-right">
                                            <span class="importante">DNI Cliente: {{buscado.nif}}</span>
                                            <br>
                                            <span class="importante">Teléfono de contacto: {{buscado.telefono}}</span>
                                            <br>
                                            <span class="importante">ID del alojamiento: {{buscado.idAlojamiento}}</span>
                                            <br>
                                            <span>Fecha de salida: {{buscado.fecha_salida}}</span>
                                            <br>
                                            <span>Hora de salida: {{buscado.hora_salida}}</span>
                                            <br>
                                            <span class="importante">Número del alojamiento: {{buscado.numeroAlojamiento}}</span>
                                            <br>
                                            <span *ngIf="buscado.tipo_alojamiento == 'Bungalow'">Máximo de personas: {{buscado.maximo_personas}}</span><span  class="float-left float-md-right" *ngIf="buscado.tipo_alojamiento == 'Parcela'">Sombra: {{buscado.sombra}}</span>
                                            <br>
                                            <span class="importante">Multiplicativo: {{buscado.multiplicativo}}</span>
                                        </mat-card-subtitle>
                                    </div>
                                </mat-card-header>
                                <mat-card-content *ngIf="serviciosExtras.idReserva == buscado.idReserva && serviciosExtras[0] != null">
                                    <div class="row justify-content-center">
                                        <p class="importante">Listado de servicios extras</p>
                                        <mat-card-subtitle class="text-center justify-content-center col-12">
                                            <div #scrollMe style="overflow-y: auto; height: 100px;">
                                                <div *ngFor="let extra of serviciosExtras">{{extra.nombre}}</div>
                                            </div>
                                        </mat-card-subtitle>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <!-- Paginación de las reseñas por revisar -->
                        <pagination-controls class="text-center" [id]="'pagination'" (pageChange)="onChangePage($event, listadoBuscado)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                        <p class="puntero text-center" (click)="atrasBusqueda()">Volver</p>
                    </div>
                </ng-template>

            </ng-template>
        </div>

        <!-- Si la URL es /dashboard/resenias -->
        <div *ngIf="dashboardResenias == true">HOLA RESEÑAS</div>

        <!-- Si la URL es /dashboard/usuarios -->
        <div *ngIf="dashboardUsuarios == true">HOLA USUARIOS</div>

        <!-- Si la URL es /dashboard/servicios -->
        <div *ngIf="dashboardServicios == true">HOLA SERVICIOS</div>

        <!-- Si la URL es /dashboard/admin PENDIENTE PORQUE LA PARTE ADMIN EN VERDAD ES UN MENÚ DESPLEGABLE, EN MÓVIL HACERLO DESPLEGBALE PERO NO EN UN POPUP, SINO QUE SE DESPLIEGUE DE VERDAD -->
        <!--<div *ngIf="dashboardAdmin == true"></div>-->

      </mat-drawer-content>
    </mat-drawer-container>
  </div>

  <!-- Página cargando para cuando se entra al dashboard mientras carga el rol del trabajador, si es cliente no ve nada del dashboard y regresa al inicio, si es trabajador entra al dashboard -->
  <ng-template #noTrabajador>
      <div class="container">
          <div class="row justify-content-center">
            <div style="position: relative; top: 50vh;">
                <mat-spinner></mat-spinner>
            </div>
        </div>
      </div>   
  </ng-template>