<script src="assets/js/javascript.js"></script>
<div *ngIf="errorExiste != true; else noExiste">
    <!-- Si viene con la URL /alojamiento -->
    <div *ngIf='situacion == 0'>
        <h3 class="mt-5 text-center">Alojamientos</h3>
        <div *ngIf="arrayBungalows.length < 1 && arrayParcelas.length < 1; else hayAlojamientos">
            <div class="d-flex justify-content-center mt-5">
                <mat-spinner></mat-spinner>
            </div>
            <p class="text-center">Si tarda demasiado refresque la página, gracias.</p>
        </div>
        <ng-template #hayAlojamientos>
            <div class="container">
                <h5 class="mt-5 text-center">Parcelas</h5>
                <div class="col-12 mt-2 mb-5">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                        <mat-card *ngFor='let parcela of arrayParcelas | slice:0:3;' class="mb-3 col-md-4">
                            <mat-card-header>
                                <div mat-card-avatar class="avatar"></div>
                                <mat-card-title>Parcela nº{{parcela.numeroAlojamiento}}</mat-card-title>
                                <mat-card-subtitle>ID: {{parcela.idAlojamiento}}</mat-card-subtitle>
                            </mat-card-header>
                            <img class="imagen-cuerpo-card" mat-card-image src="../../assets/images/alojamientos/parcela1.jpg" alt="Foto de una parcela">
                            <mat-card-content>
                                <p>
                                    Sombra: {{parcela.sombra}} <br>
                                    Dimensiones: {{parcela.dimension}}<br>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button [routerLink]="['/alojamiento/parcelas/', parcela.numeroAlojamiento]" mat-button>VER</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <span class="float-right" style="cursor: pointer;" [routerLink]="'/alojamiento/parcelas'"> Ver todas las parcelas </span>
                </div>
                <h5 class="mt-5 text-center">Bungalows</h5>
                <div class="col-12 mt-2">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                        <mat-card *ngFor="let bungalow of arrayBungalows | slice:0:3;" class="mb-3 col-md-4">
                            <mat-card-header>
                                <div mat-card-avatar class="avatar"></div>
                                <mat-card-title>Bungalow nº{{bungalow.numeroAlojamiento}}</mat-card-title>
                                <mat-card-subtitle>ID: {{bungalow.idAlojamiento}}</mat-card-subtitle>
                            </mat-card-header>
                            <img class="imagen-cuerpo-card" mat-card-image src="../../assets/images/alojamientos/bungalow1.jpg" alt="Foto de un bungalow">
                            <mat-card-content>
                                <p>
                                    Habitaciones: {{bungalow.habitaciones}} <br>
                                    Máximo de personas: {{bungalow.maximo_personas}}<br>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button [routerLink]="['/alojamiento/bungalows/', bungalow.numeroAlojamiento]" mat-button>VER</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <span class="float-right" style="cursor: pointer;" [routerLink]="'/alojamiento/bungalows'"> Ver todos los bungalows </span>
                </div>
            </div>
        </ng-template>
    </div>

    <!-- Si viene con URL con parametros alojamiento/(bungalows o parcelas) -->
    <div *ngIf='situacion == 1'>
        <div *ngIf="alojamiento == 'bungalows'">
            <h3 class="mt-5 text-center">Bungalows</h3>
            <div *ngIf="arrayBungalows.length < 1; else hayBungalows">
                <div class="d-flex justify-content-center mt-5">
                    <mat-spinner></mat-spinner>
                </div>
                <p class="text-center">Si tarda demasiado refresque la página, gracias.</p>
            </div>
            <ng-template #hayBungalows>
                <div class="container">
                    <div class="mt-5 mb-5 d-flex justify-content-center">
                        <div class="row justify-content-around">
                            <mat-card *ngFor="let bungalow of arrayBungalows | paginate: { id: 'pagination', itemsPerPage: 9, currentPage: p, totalItems: arrayBungalows.length };" class="mt-2 mb-5 col-md-5 col-lg-3 ml-md-3">
                                <mat-card-header>
                                    <div mat-card-avatar class="avatar"></div>
                                    <mat-card-title>Bungalow nº{{bungalow.numeroAlojamiento}}</mat-card-title>
                                    <mat-card-subtitle>ID: {{bungalow.idAlojamiento}}</mat-card-subtitle>
                                </mat-card-header>
                                <img class="imagen-cuerpo-card" mat-card-image src="../../assets/images/alojamientos/bungalow1.jpg" alt="Foto de un bungalow">
                                <mat-card-content>
                                    <p>
                                        Habitaciones: {{bungalow.habitaciones}} <br>
                                        Maximo de personas: {{bungalow.maximo_personas}}<br>
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button [routerLink]="['/alojamiento/bungalows/', bungalow.numeroAlojamiento]" mat-button>VER</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <!-- Paginación de las reseñas por revisar -->
                        <div class="d-flex justify-content-center">
                            <pagination-controls [id]="'pagination'" (pageChange)="onChangePage($event)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                        </div>
                    </div>
                    <span style="cursor: pointer;" [routerLink]="'/alojamiento'">Volver</span>
                </div>
            </ng-template>
        </div>
        <div *ngIf="alojamiento == 'parcelas'">
            <h3 class="mt-5 text-center">Parcelas</h3>
            <div *ngIf="arrayParcelas.length < 1; else hayParcelas">
                <div class="d-flex justify-content-center mt-5">
                    <mat-spinner></mat-spinner>
                </div>
                <p class="text-center">Si tarda demasiado refresque la página, gracias.</p>
            </div>
            <ng-template #hayParcelas>
                <div class="container">
                    <div class="mt-5 mb-5 d-flex justify-content-center">
                        <div class="row justify-content-around">
                            <mat-card *ngFor="let parcela of arrayParcelas | paginate: { id: 'pagination', itemsPerPage: 9, currentPage: p, totalItems: arrayParcelas.length };" class="mb-3 col-md-5 col-lg-3 ml-md-3">
                                <mat-card-header>
                                    <div mat-card-avatar class="avatar"></div>
                                    <mat-card-title>Parcela nº{{parcela.numeroAlojamiento}}</mat-card-title>
                                    <mat-card-subtitle>ID: {{parcela.idAlojamiento}}</mat-card-subtitle>
                                </mat-card-header>
                                <img class="imagen-cuerpo-card" mat-card-image src="../../assets/images/alojamientos/parcela1.jpg" alt="Foto de una parcela">
                                <mat-card-content>
                                    <p>
                                        Sombra: {{parcela.sombra}} <br>
                                        Dimensiones: {{parcela.dimension}}<br>
                                    </p>
                                </mat-card-content>
                                <mat-card-actions mat-card-actions>
                                    <button [routerLink]="['/alojamiento/parcelas/', parcela.numeroAlojamiento]" mat-button>VER</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <!-- Paginación de las reseñas por revisar -->
                        <div class="d-flex justify-content-center">
                            <pagination-controls [id]="'pagination'" (pageChange)="onChangePage($event)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                        </div>
                    </div>
                    <span style="cursor: pointer;" [routerLink]="'/alojamiento'"> Volver </span>
                </div>
            </ng-template>
        </div>
    </div>

    <!-- Vista de la ficha del alojamiento URL /alojamiento/parcelas/2 -->
    <div *ngIf='situacion == 2'>
        <!-- Alojamiento -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 mt-4">
                    <div class="card" *ngIf="alojamiento == 'parcelas'; else bungalow">
                        <!-- Imagen del alojamiento -->
                        <img class="card-img-top img-fluid" src="../../assets/images/alojamientos/parcela1.jpg" alt="Imagen de la parcela">
                        <!-- Información del alojamiento -->
                        <div class="card-body">
                            <!-- Si el alojamiento es parcela -->
                            <div>
                                <h4 class="card-title">Parcela nº {{ alojamientoSeleccionado?.numeroAlojamiento }}</h4>
                                <!-- Los datos de bungalows.X dan errores falsos en la consola del navegador, preguntar por qué y cómo arreglarlo -->
                                <p class="card-text">Sombra: {{ alojamientoSeleccionado?.sombra }}</p>
                                <p class="card-text">Dimensiones: {{ alojamientoSeleccionado?.dimension }}</p>
                            </div>
                            <!-- Puntuación media del alojamiento -->
                            <div *ngIf="!noResenias; else noPuntuacion">
                                <ng-template #t let-fill="fill">
                                    <span class="star" [class.full]="fill === 100">
                                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                  </ng-template>
                                  <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="10"></ngb-rating>
                                <hr>
                                <pre>Puntuación media: <b>{{currentRate.toFixed(2)}}</b></pre>
                            </div>
                        </div>
                    </div>
                    <!-- Si el alojamiento es bungalow -->
                    <ng-template #bungalow>
                        <!-- Imagen del alojamiento -->
                        <img class="card-img-top img-fluid" src="../../assets/images/alojamientos/bungalow1.jpg" alt="Imagen de la parcela">
                        <!-- Información del alojamiento -->
                        <div class="card-body">
                            <!-- Si el alojamiento es parcela -->
                            <div>
                                <h4 class="card-title">Bungalow nº {{ alojamientoSeleccionado?.numeroAlojamiento }}</h4>
                                <!-- Los datos de bungalows.X dan errores falsos en la consola del navegador, preguntar por qué y cómo arreglarlo -->
                                <p class="card-text">Número de habitaciones: {{ alojamientoSeleccionado?.habitaciones }}</p>
                                <p class="card-text">Número máximo de personas: {{ alojamientoSeleccionado?.maximo_personas }}</p>
                            </div>
                            <br>
                            <!-- Puntuación media del alojamiento -->
                            <div *ngIf="!noResenias; else noPuntuacion">
                                <ng-template #t let-fill="fill">
                                    <span class="star" [class.full]="fill === 100">
                                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                  </ng-template>
                                  <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="10"></ngb-rating>
                                <hr>
                                <pre>Puntuación media: <b>{{currentRate.toFixed(2)}}</b></pre>
                            </div>
                        </div>                        
                    </ng-template>
                    <ng-template #noPuntuacion>
                        <p>Este alojamiento aún no tiene puntuación.</p>
                    </ng-template>
                    <!-- Reseñas -->
                    <div class="card card-outline-secondary mt-4">
                        <div class="card-header">Reseñas</div>
                        <!-- Reseña -->
                        <div *ngIf="noResenias == false; else noReseniasTrue">
                            <!-- Aquí hacer un ngFor con las reseñas recogidas de la BD -->
                            <!-- Información de la reseña, usuario/anónimo y puntuación dada-->
                            <div class="card-body" *ngFor="let resenias of listadoResenias | paginate: { id: 'pagination', itemsPerPage: 10, currentPage: p, totalItems: listadoResenias.length }; let i = index">
                                <div class="col-12">
                                    <span class="float-left">Nombre de usuario: {{resenias.alias}}</span>
                                    <span class="float-right">Puntuación: {{resenias.puntuacion}}</span>
                                </div>
                                <!-- Texto de la reseña -->
                                <p class="col-12 mt-5 mb-0">Comentario:</p>
                                <p class="col-12 mt-0">
                                    {{resenias.comentario}}
                                </p>
                                <hr *ngIf="i != listadoResenias.length-1">
                            </div>
                             <!-- Paginación de las reseñas por revisar -->
                            <pagination-controls class="text-center" [id]="'pagination'" (pageChange)="onChangePage($event)" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls> 
                        </div>
                        <ng-template #noReseniasTrue>
                            <div class="card-body">
                                <p class="text-center">Este alojamiento aún no tiene reseñas, sé la primera persona en dejar una ;)</p>
                            </div>
                        </ng-template>
                    </div>
                    <!-- Escribir reseña, si se está logueado -->
                    <div class="card card-outline-secondary mt-4" *ngIf="usuarioActual != null; else noUsuario">
                        <div class="card-header">Dejar una reseña</div>
                        <div class="card-body">
                            <form [formGroup]="resenia" novalidate class="py-3 px-4">
                                <div class="col-md-12 row">
                                    <!-- Nombre de usurio-->
                                    <div class="col-md-5">
                                        <label>Nombre: {{ usuarioActual.alias }}</label>
                                    </div>
                                    <!-- Checkbox si ocultar nombre de usuario en la reseña -->
                                    <div class="col-md-2">
                                        <mat-checkbox formControlName="anonimo" (change)="anonimo($event)">Anónimo</mat-checkbox>
                                    </div>
                                    <!-- Puntuación -->
                                    <div class="col-md-5">
                                        <!-- Puntuación media del alojamiento -->
                                        <ng-template #t let-fill="fill">
                                            <span class="star" [class.full]="fill === 100">
                                                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                            </span>
                                        </ng-template>
                                        <ngb-rating [starTemplate]="t" [readonly]="false" [max]="10" formControlName="puntuacion"></ngb-rating>
                                        <hr>
                                        <pre>Puntuación: <b>{{resenia.get('puntuacion').value}}</b></pre>
                                    </div>
                                </div>
                                <span class="float-right" *ngIf="resenia.get('puntuacion').hasError('noPuntuacion')" class="text-danger">Por favor, indique una puntuación mínima.</span>
                                <!-- Texta area (mensaje/comentario) -->
                                <div class="col-md-12 row mt-4">
                                    <mat-form-field class="col-md-12">
                                        <mat-label>Comentario</mat-label>
                                        <input matInput #mensaje formControlName="mensaje" maxlength="255" placeholder="Ej. Me encanta...">
                                        <mat-hint align="start"><strong>No escriba información personal</strong> </mat-hint>
                                        <mat-hint align="end">{{mensaje.value.length}} / 255</mat-hint>
                                    </mat-form-field>
                                    <span *ngIf="resenia.get('mensaje').hasError('noTexto')" class="text-danger">Escriba un comentario de mínimo 25 carácteres por favor.</span>
                                </div>
                                <div class="text-center">
                                    <button mat-flat-button color="primary" class="mt-3" (click)="enviarResenia()">Enviar</button>
                                    <br>
                                    <span *ngIf="errorResenia == true" class="text-center text-danger">Ha habido un error insperado, inténtelo de nuevo más tarde.</span>
                                    <span *ngIf="reseniaOk == true" class="text-center text-success">Tu reseña ha sido enviada correctamente, está a la espera de ser aprobada por el personal del camping, gracias.</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <span style="cursor: pointer;" [routerLink]="'/alojamiento/'+alojamiento"> Volver </span>
        </div>
    </div>
</div>

<ng-template #noUsuario>
    <div class="card card-outline-secondary mt-4">
        <div class="card-header">Dejar una reseña</div>
        <div class="card-body text-center">
            <p>Para dejar una reseña debes <a href="/login">iniciar sesión</a> o si aún no tienes una cuenta puedes registrarte <a href="/registrar">aquí</a></p>
        </div>
    </div>
</ng-template>

<!-- Plantilla para cuando se escribe en la URL un nº de alojamiento que no existe -->
<ng-template #noExiste>
    <div class="container">
        <div class="row" id="box-search">
            <div class="thumbnail text-center">
                <h1 class="mb-0" fxShow="true" fxHide.gt-xs="true">404</h1>
                <span class="mt-0" fxShow="true" fxHide.gt-xs="true">No se pudo encontrar la página</span>
                <img src="../../assets/images/404/error.png" alt="Imagen no se encontró página, imgaen de un detective con su perro sabueso." class="img-responsive">
                <div class="caption" fxShow="true" fxHide.lt-sm="true">
                    <h1>404</h1>
                    <span id="m404">No se pudo encontrar la página</span>
                    </div>
                <h4 class="float-center" style="cursor: pointer;" (click)="volver()"> Volver </h4>
            </div>
        </div>
    </div>
</ng-template>