.cards{
    max-width: 400px;
}
.imagen-cuerpo-card{
    display: block;
    margin: auto;
}

/* CSS para la parte de error 404 */
.thumbnail {
    position: relative;
}
.caption {
    position: absolute;
    top: 33%;
    left: 23%;
    width: 100%;
    color: white;
}
#m404{
    position: absolute;
    top: 62%;
    left: 37%;
    color: white;
}

/* Mensaje error en pantalla maximo 767px de ancho*/
@media only screen and (max-width: 767px) {
    #m404{
        left: 30%;
    }
}

/* Mensaje error en pantalla minimo 992px de ancho*/
@media only screen and (min-width: 992px) {
    #m404{
        left: 39%;
    }
}

/* Mensaje error en pantalla minimo 1199px de ancho*/
@media only screen and (min-width: 1199px) {
    #m404{
        left: 41%;
    }
}



.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}
.full {
    color: rgb(255, 217, 5);
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(255, 217, 5);
}

/* Tamaño estrllas puntuación para pantalla con 425px máximo de ancho */
@media only screen and (max-width: 425px) {
    .star{
        font-size: 2rem;
    }
}

/* Tamaño estrllas puntuación para pantalla con 320px máximo de ancho */
@media only screen and (max-width: 320px) {
    .star{
        font-size: 1.5rem;
    }
}