<h2 mat-dialog-title class="text-center">Registrarse</h2>
<form [formGroup]="registro" novalidate class="py-3 px-4">
    <mat-dialog-content class="mat-typography">

        <div class="mt-2">
            <div>
                <div>
                    <label class="col-12 mb-0">Nombre de usuario</label>
                    <input class="col-12" formControlName="alias" type="text">
                    <span style="color: red;" *ngIf="aliasVal == false">Revise su nombre de usuario.</span>
                    <span style="color: red;" *ngIf="errorAlias == true">Ya existe el nombre de usuario.</span>
                </div>

                <!--HAY QUE CONTROLAR LOS ERRORES DE CAMPOS AL ESCRIBIR EN ELLOS EMAIL CON PATRON **@**.** Y QUE LA CONTRASEÑA TENGA MINIMO DE 8 DIGITOS Y MAXIMO DE 20 POR EJEMPLO.-->
                <div>
                    <label class="col-12 mb-0">DNI</label>
                    <input class="col-12" formControlName="dni" type="text">
                    <span style="color: red;" *ngIf="dniVal == false">Revise su DNI.</span>
                    <span style="color: red;" *ngIf="errorDni == true">Ya existe un usuario con ese DNI.</span>
                </div>

                <div class="mt-2">
                    <label class="col-12 mb-0">Nombre y apellidos</label>
                    <input class="col-12" formControlName="nombreCompleto" type="text">
                    <span style="color: red;" *ngIf="nombreVal == false">Revise su nombre y apellidos.</span>
                </div>

                <div class="mt-2">
                    <label class="col-12 mb-0">Teléfono</label>
                    <input class="col-12" formControlName="telefono" type="tel">
                    <span style="color: red;" *ngIf="telVal == false">Revise su teléfono móvil.</span>
                </div>

                <div class="mt-2">
                    <label class="col-12 mb-0">Correo electrónico</label>
                    <input class="col-12" formControlName="email" type="email">
                    <span style="color: red;" *ngIf="emailVal == false">Revise su correo electrónico.</span>
                    <span style="color: red;" *ngIf="errorEmail == true">Ya existe un usuario con ese correo electrónico.</span>
                </div>
            </div>

            <div>
                <div class="mt-2">
                    <label class="col-12 mb-0">Contraseña</label>
                    <input class="col-12" formControlName="password" type="password">
                    <span style="color: red;" *ngIf="passVal == false">Revise su contraseña, debe tener 8 carácteres, 1 minúscula, 1 mayúscula y al menos 1 dígito.</span>
                </div>
            </div>

            <div>
                <div class="mt-2">
                    <label class="col-12 mb-0">Repita su contraseña</label>
                    <input class="col-12" formControlName="password2" type="password">
                    <span style="color: red;" *ngIf="pass2Val == false">Las contraseñas deben coincidir.</span>
                </div>
            </div>
        </div>

        <div *ngIf="registrado == 'false'" class="text-center">
            <span style="color: red;">No existe usuario con ese correo y/o contraseña.</span>
        </div>

    </mat-dialog-content>
</form>


<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button (click)="signIn()">Iniciar sesión</button>
</mat-dialog-actions>